@charset "utf-8";
/* CSS Document */
@import url('font-face.css');

ul,
ol {
    margin: 0px;
    padding: 0;
    list-style: none;
}

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

a,
img {
    border: 0px;
    outline: 0px;
    color: #2990c2;
    text-decoration: none;
    vertical-align: top;
}

body {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden;
    font-weight: 400;
    position: relative;
    font-family: GT-Walsheim, sans-serif;
}

input,
select,
textarea,
button {
    font-family: GT-Walsheim, sans-serif;
    font-size: 14px;
}

input[type=file]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

$cwhite : #fff;

.scrollup {
    position: fixed;
    bottom: 60px;
    right: 40px;
    padding: 5px 10px;
    line-height: 1;
    background: $cwhite;
    border: 1px solid #023f88;
    border-radius: 3px;
    font-size: 12px;
    color: #023f88;
    z-index: 99;
    display: none;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;

    & i {
        margin-right: 5px;
    }

    &:hover {
        box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
    }
}


.wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.wrapper_inner {
    max-width: 1200px;
    min-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.login_wrapper {
    height: 100vh;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(188, 170, 38, 0.7)
    }

    & .login_box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        max-width: 400px;
        padding: 50px;
        color: $cwhite;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);

        & h2 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 50px;
            font-weight: 300;
            line-height: 1;
        }

        & input {
            width: 100%;
            float: left;
            height: 50px;
            background: transparent;
            border: 0px;
            color: $cwhite;
            border-bottom: 1px solid $cwhite;
            margin-bottom: 20px;

        }

        & label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateY(-10px);
            transition: all ease-in-out .5s;
        }

        & button {
            width: 100%;
            float: left;
            height: 50px;
            border: 0px;
            background: $cwhite;
            color: #333;
            margin-top: 20px;
            cursor: pointer;
            transition: all ease-in-out .5s;

            & i {
                margin-right: 10px;
            }

            &:hover {
                background: #00ffed;
                color: $cwhite;
            }
        }
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .5s;

    & .popbox {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        padding: 50px;
        background: #fff;
        color: #333;
        z-index: 99;
        transform: translate(-50%, -50%);
        transition: all ease-in-out .5s;

        & .closeBtn {
            float: right;
            cursor: pointer;
            transform: translate(30px, -20px)
        }

        & h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }

}

.navigation {
    margin: 50px 0;
    background: #333;
    color: #fff;
    line-height: 30px;
    padding: 0 20px;

    & .logo {
        float: left;
        font-size: 30px;
        margin: 20px 0;
    }

    & .menu {
        float: right;

        & li {
            float: left;
            position: relative;
            margin-left: 30px;
            padding: 20px 0;

            & a {
                float: left;
                color: #fff;

                & i {
                    margin-left: 5px;
                    display: inline-block
                }

                &.close-icon {
                    & i {
                        transform: rotate(180deg);
                    }
                }
            }



            & ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                z-index: 5;
                background: #ddd;

                & li {
                    width: 100%;
                    margin-left: 0px;
                    padding: 0;

                    & a {
                        color: #111;
                        width: 100%;
                        padding: 2px 15px;

                        & i {
                            float: right;
                            margin-top: 5px;
                        }

                        &.close-icon {
                            & i {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    & ul {
                        top: 0;
                        left: 100%;
                    }
                }
            }

            &.last {
                padding: 10px 0;

                & a {
                    padding: 10px 15px;
                    background: #fff;
                    color: #333;
                }

                &:hover a {
                    color: red;
                }
            }
        }
    }
}

.tabs li {
    float: left;
    padding: 10px 15px;
    background: #f5f5f5;
    cursor: pointer;

    &.is-open {
        background: #ddd;
    }
}

[sg-tabs] {
    padding: 15px;
    border: 1px solid #eee;
}

.accordian {
    margin-top: 2px;
    border: 1px solid #ddd;

    & h2 {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;

        &.is-open {
            border-bottom: 1px solid #ddd;
        }
    }

    & [sg-accordians] {
        padding: 20px;
        display: none
    }
}