/* CSS Document */
@import url("font-face.css");
ul,
ol {
  margin: 0px;
  padding: 0;
  list-style: none;
}

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a,
img {
  border: 0px;
  outline: 0px;
  color: #2990c2;
  text-decoration: none;
  vertical-align: top;
}

body {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  font-weight: 400;
  position: relative;
  font-family: GT-Walsheim, sans-serif;
}

input,
select,
textarea,
button {
  font-family: GT-Walsheim, sans-serif;
  font-size: 14px;
}

input[type=file]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.scrollup {
  position: fixed;
  bottom: 60px;
  right: 40px;
  padding: 5px 10px;
  line-height: 1;
  background: #fff;
  border: 1px solid #023f88;
  border-radius: 3px;
  font-size: 12px;
  color: #023f88;
  z-index: 99;
  display: none;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
}

.scrollup i {
  margin-right: 5px;
}

.scrollup:hover {
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 100%;
  float: left;
  position: relative;
}

.wrapper_inner {
  max-width: 1200px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.login_wrapper {
  height: 100vh;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;
}

.login_wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(188, 170, 38, 0.7);
}

.login_wrapper .login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 400px;
  padding: 50px;
  color: #fff;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login_wrapper .login_box h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
}

.login_wrapper .login_box input {
  width: 100%;
  float: left;
  height: 50px;
  background: transparent;
  border: 0px;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.login_wrapper .login_box label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.login_wrapper .login_box button {
  width: 100%;
  float: left;
  height: 50px;
  border: 0px;
  background: #fff;
  color: #333;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.login_wrapper .login_box button i {
  margin-right: 10px;
}

.login_wrapper .login_box button:hover {
  background: #00ffed;
  color: #fff;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.popup .popbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 50px;
  background: #fff;
  color: #333;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.popup .popbox .closeBtn {
  float: right;
  cursor: pointer;
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}

.popup .popbox h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.navigation {
  margin: 50px 0;
  background: #333;
  color: #fff;
  line-height: 30px;
  padding: 0 20px;
}

.navigation .logo {
  float: left;
  font-size: 30px;
  margin: 20px 0;
}

.navigation .menu {
  float: right;
}

.navigation .menu li {
  float: left;
  position: relative;
  margin-left: 30px;
  padding: 20px 0;
}

.navigation .menu li a {
  float: left;
  color: #fff;
}

.navigation .menu li a i {
  margin-left: 5px;
  display: inline-block;
}

.navigation .menu li a.close-icon i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navigation .menu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 5;
  background: #ddd;
}

.navigation .menu li ul li {
  width: 100%;
  margin-left: 0px;
  padding: 0;
}

.navigation .menu li ul li a {
  color: #111;
  width: 100%;
  padding: 2px 15px;
}

.navigation .menu li ul li a i {
  float: right;
  margin-top: 5px;
}

.navigation .menu li ul li a.close-icon i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navigation .menu li ul li ul {
  top: 0;
  left: 100%;
}

.navigation .menu li.last {
  padding: 10px 0;
}

.navigation .menu li.last a {
  padding: 10px 15px;
  background: #fff;
  color: #333;
}

.navigation .menu li.last:hover a {
  color: red;
}

.tabs li {
  float: left;
  padding: 10px 15px;
  background: #f5f5f5;
  cursor: pointer;
}

.tabs li.is-open {
  background: #ddd;
}

[sg-tabs] {
  padding: 15px;
  border: 1px solid #eee;
}

.accordian {
  margin-top: 2px;
  border: 1px solid #ddd;
}

.accordian h2 {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.accordian h2.is-open {
  border-bottom: 1px solid #ddd;
}

.accordian [sg-accordians] {
  padding: 20px;
  display: none;
}
/*# sourceMappingURL=style.css.map */